{{ $isPage := or (and (ne .Type "posts") (in "section page" .Kind )) (and (eq .Type "posts") (eq .Kind "page")) }}
{{- if eq .Kind "home" }}
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ .Site.Title | jsonify }},
      "url": {{ .Site.Home.Permalink | jsonify }},
      "inLanguage": {{ .Lang | jsonify }}
  }
  </script>
{{- else if $isPage }}
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "TechArticle",
      "articleSection": {{ .Section | humanize | title | jsonify }},
      "name": {{ partial "utils/title" . | jsonify }},
      "url": {{ .Permalink | jsonify }},
      "headline": {{ partial "utils/title" . | jsonify }},
      "inLanguage": {{ .Lang | jsonify }}
  }
  </script>
{{- end }}
