{{ $isPage := or (and (ne .Type "posts") (in "section page" .Kind )) (and (eq .Type "posts") (eq .Kind "page")) }}
{{- if eq .Kind "home" }}
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ .Site.Title | jsonify }},
      "url": {{ .Site.Home.Permalink | jsonify }},
      {{- with partial "utils/description" . }}
      "description": {{ . | plainify | htmlUnescape | chomp | jsonify }},
      {{- end }}
      {{- with partial "utils/featured" . }}
      "thumbnailUrl": {{ . | jsonify }},
      {{- end }}
      {{- with .Site.Params.geekdocContentLicense }}
      "license": {{ .name | jsonify }},
      {{- end }}
      "inLanguage": {{ .Lang | jsonify }}
  }
  </script>
{{- else if $isPage }}
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "TechArticle",
      "articleSection": {{ .Section | humanize | title | jsonify }},
      "name": {{ partial "utils/title" . | jsonify }},
      "url": {{ .Permalink | jsonify }},
      "headline": {{ partial "utils/title" . | jsonify }},
      {{- with .Params.lead }}
      "alternativeHeadline": {{ . | jsonify }},
      {{- end }}
      {{- with partial "utils/description" . }}
      "description": {{ . | plainify | htmlUnescape | chomp | jsonify }},
      {{- end }}
      {{- with partial "utils/featured" . }}
      "thumbnailUrl": {{ . | jsonify }},
      {{- end }}
      "wordCount": {{ printf "%d" .WordCount | jsonify }},
      {{- with .Site.Params.geekdocContentLicense }}
      "license": {{ .name | jsonify }},
      {{- end }}
      "inLanguage": {{ .Lang | jsonify }},
      "isFamilyFriendly": "true",
      "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": {{ .Permalink | jsonify }}
      },
      {{- with $tags := .Params.tags }}
      "keywords": [{{ range $i, $tag := $tags }}{{ if $i }}, {{ end }}{{ $tag | jsonify }}{{ end }}],
      {{- end }}
      "copyrightHolder": {{ .Site.Title | jsonify }},
      "copyrightYear": {{ .Date.Format "2006" | jsonify }},
      "dateCreated": {{ .Date.Format "2006-01-02T15:04:05.00Z" | jsonify }},
      "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | jsonify }},
      "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | jsonify }},
      "publisher": {
          "@type": "Organization",
          "name": {{ .Site.Title | jsonify }},
          "url": {{ .Site.Home.Permalink | jsonify }},
          "logo": {
              "@type": "ImageObject",
              "url": {{ ((default "brand.svg" .Site.Params.geekdocLogo) | absURL) | jsonify }},
              "width": "32",
              "height": "32"
          }
      }
  }
  </script>
{{- end }}
